.header-fullwidth {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-link {
  position: relative;
  padding-bottom: 0.25rem;
  text-decoration: underline transparent;
  transition: text-decoration-color .2s;
  margin-left: 1rem;
  color: rgba(255,255,255,0.8);
}

.nav-link.active {
  text-decoration-color: #fff;
}
